In [3]:
import pandas as pd

Задание 1
Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [5]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = movies.merge(ratings, on='movieId', how='left')
data = joined[ (joined['rating']==5) ]
result1 = data['title'].value_counts().head(1)

In [6]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings  = ratings[ratings['rating']==5]
joined = movies.merge(ratings, on='movieId', how='left')
result2 =joined['title'].value_counts().head(1)

In [7]:
result1

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [44]:
result2

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [8]:
data = pd.read_csv('power.csv')
data = data [
    (data['country'].isin(['Latvia', 'Lithuania', 'Estonia']))
    & (data['category'].isin([4, 12, 21]))
    & (data['year']<=2010)
    & (data['year']>=2005)& (data['quantity']> 0)
]
data['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [9]:
pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[2]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 782     -21.00         -1.00        NaN
1  Серебро Цена на серебро на бирже  23.14      -0.73         -3.05        NaN
2         Палладий Цена на Палладий  1 894     -28.00         -1.00        NaN
3           Платина Цены на платину  1 016     -21.00         -2.00        NaN
4           Медь Цена меди на бирже   3.81      -0.05         -1.39        NaN